<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills mb-3">
  <li [ngbNavItem]="'activity'">
    <a ngbNavLink>Attività</a>
    <ng-template ngbNavContent>
      <app-donor-notes [donorId]="donorId"></app-donor-notes>
    </ng-template>
  </li>
  <li [ngbNavItem]="'speditions'">
    <a ngbNavLink>Spedizioni</a>
    <ng-template ngbNavContent>
         <h1>Spedizioni</h1>
      <!-- <app-donor-donations [donorId]="donorId"></app-donor-donations> -->
    </ng-template>
  </li>
  <li [ngbNavItem]="'intentions'">
    <a ngbNavLink>Intenzioni</a>
    <ng-template ngbNavContent>
         <h1>Intenzioni</h1>
      <!-- <app-donor-donations [donorId]="donorId"></app-donor-donations> -->
    </ng-template>
  </li>
  <li [ngbNavItem]="'tickets'">
    <a ngbNavLink>Tickets</a>
    <ng-template ngbNavContent>
         <h1>Tickets</h1>
      <!-- <app-donor-donations [donorId]="donorId"></app-donor-donations> -->
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
