<div class="card card-widget widget-user-2 shadow-sm">
  <div class="widget-user-header bg-info">
    <div class="widget-user-image">
      <img
        class="img-circle elevation-2"
        src="assets/img/user_female.png"
        alt="User Avatar"
      />
    </div>
    <button class="btn btn-warning btn-sm float-end" (click)="editDonor()">
      <i class="fas fa-pencil-alt" ngbTooltip="Modifica Anagrafica"></i>
    </button>

    <h3 class="widget-user-username">
      {{ donor.lastName }} {{ donor.firstName }}
    </h3>
    <h5 class="widget-user-desc">Donatore</h5>
  </div>

  <div class="card-body box-profile">
    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>Status</b>
        <span class="float-end badge bg-success">Attivo</span>
      </li>
      <li class="list-group-item">
        <b>Spedizione</b>
        <span class="float-end badge bg-success">Abilitata</span>
      </li>
      <li class="list-group-item">
        <b>Punteggio</b>
        <span class="float-end badge bg-success">10</span>
      </li>
      <li class="list-group-item">
        <b>Frequenza</b>
        <span class="float-end badge bg-success">Fascia</span>
      </li>
    </ul>
  </div>

  <div class="card card-primary card-outline">
    <div class="card-body">
      <strong><i class="fas fa-map-marker-alt me-1"></i> Indirizzo</strong>
      <hr />
      <p class="text-muted">{{ donor.rawAddress }}</p>
      <p class="text-muted">
        {{ donor.rawCap }} {{ donor.rawComune }}

      </p>
      <p class="text-muted">Provincia PR</p>

      <hr />
      <strong><i class="fas fa-at me-1"></i> Email</strong>
      <button class="btn btn-sm btn-link" (click)="createEmail()">
        <i class="fa fa-plus-square" ngbTooltip="Aggiungi una email"></i>
      </button>
      <hr />
      <div *ngIf="emails.items.length > 0; else noEmails">
        <div *ngFor="let email of emails.items">
          <p>
            {{ email.address }}
            <span class="float-end">
              <button
                class="btn btn-info btn-sm me-1"
                (click)="editEmail(email.id)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteEmail(email.id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </span>
          </p>
        </div>
      </div>
      <ng-template #noEmails>
        <p class="text-muted">N/D</p>
      </ng-template>

      <hr />
      <strong><i class="fas fa-phone me-1"></i> Telefono</strong>
      <button class="btn btn-sm btn-link" (click)="addPhone()">
        <i class="fa fa-plus-square" ngbTooltip="Aggiungi un numero di telefono"></i>
      </button>
      <hr />
      <div *ngIf="phones.length > 0; else noPhone">
        <div *ngFor="let phone of phones">
          <p>
            {{ phone.numero }}
            <span class="float-end">
              <button
                class="btn btn-info btn-sm me-1"
                (click)="editPhone(phone.id)"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="deletePhone(phone.id)"
              >
                <i class="fas fa-trash"></i>
              </button>
            </span>
          </p>
        </div>
      </div>
      <ng-template #noPhone>
        <p class="text-muted">N/D</p>
      </ng-template>
    </div>
  </div>
</div>

<abp-modal [(visible)]="isEmailModalOpen">
  <ng-template #abpHeader>
        <h3>{{ (selectedEmail.id ? '::Edit' : '::Donor:New' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
  <form [formGroup]="form" (ngSubmit)="saveEmail()">
    <div class="mt-2">
        <label for="email-address">Indirizzo<span> *</span></label>
        <input type="text" id="email-address" class="form-control" formControlName="address" autofocus />
    </div>

    <div class="mt-2">
      <label for="email-isPrimary">Default</label>
      <input type="checkbox" id="email-isPrimary" class="form-check-input" formControlName="isPrimary" />
    </div>
  </form>
</ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>
    <button class="btn btn-primary" (click)="saveEmail()" [disabled]="form.invalid">
        <i class="fa fa-check mr-1"></i>
        {{ '::Save' | abpLocalization }}
  </button>
  </ng-template>
</abp-modal>


